body {
    margin: 0 25%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #111111;
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    border-bottom: 1px solid;
}

h2 {
    font-weight: normal;
    margin-bottom: 1px;
}

a {
    text-decoration:none;
    color: #000 !important;
}

p.date {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 1px;
}